<section id="about">
        <div class="container">
            <div class="row about-pt">
                <div class="col-lg-6">
                    <div class="about-txt">
                        <h3>About DOGEX & Ecosystem<b>.</b></h3>
                        <p>DOGEX is available as OkexChain KIP-20 token (for earlier), Ethereum ERC-20, Binance Smart Chain BEP-20, Tron TRC-20. Support and integrate the token smart contract with any Ethereum, BSC, Tron and OkexChain applications.</p>
                        <p class="mb-3">Get more benefit from DOGEX dapp where you can staking, claim or create your own NFT, earn Dogecoin by hold DOGEX and of course earn more DOGEX from meme event :)</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-sm-6 text-center">
                            <div class="counter-item benefit">
                                <h1><i class="fas fa-coins"></i></h1>
                                <p class="mt-3">Stake DOGEX and earn more</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 text-center">
                            <div class="counter-item benefit">
                                <h1><i class="fas fa-cubes"></i></h1>
                                <p class="mt-3">Claim or create your own NFT</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 text-center mt-4">
                            <div class="counter-item benefit">
                                <h1><i class="fas fa-hand-holding-usd"></i></h1>
                                <p class="mt-3">Earn Dogecoin by holding DOGEX</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>