<section id="banner">
    <div class=".particles-js-canvas-el" id="particles-js"></div>
    <div class="backtotop">
        <a href="#banner"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    </div>
    <div class="follow-us">
        <span>Follow us</span>
        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-reddit" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-telegram" aria-hidden="true"></i></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 m-auto banner-txt">
                <div class="banner-main">
                    <div class="banner-item text-center">
                        <h3>The progressive crypto project</h3>
                        <p>DOGEX is native token that fuels engagement within the DOGEX decentralized platform and across the extended community of users that hold the token. </p>
                        <a href="#" class="main-btn">Join Airdrop</a>
                        <a href="#" style="background-color: #f28b03; margin-left: 10px" class="main-btn">Buy DOGEX</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>